form{
    display: flex;
    direction: column;
}
.link{
    color: #065BDb;
}
nav{
    height: 60px;
    width: 100%;
    background-color: #070939;
}
.search{
    height: 30px;
    width: 600px;
    border-radius: 0.5rem;
    padding: 20px;
    outline: none;
    background-color: #d9d9d9;
    color: rgb(80, 79, 79);
}
nav button{
    height: 30px;
    width: 8rem;
    border-radius: 0.5rem;
    font-weight: 500;
}
nav .btn-connexion:hover{
    background-color: #0b0f8a;
    transition-duration: 300ms;
    color: white;
}
nav .btn-search:hover{
    background-color: #515457;
    color: white;
    transition-duration: 300ms;
}
nav .btn-connexion{
    background-color: #95c3f0;
    transition-duration: 300ms;
    color: white;
}
nav .btn-search{
    background-color: #d6d7d8;
    color: black;
    transition-duration: 300ms;
}
.a-la-une{
    position: relative;
    top: 50px;
    width: 95%;
}
.box-anime{
    position: relative;
    top: 150px;
}
.title{
    /* position: relative;
    top: 225px */
}

.mini-box:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond semi-transparente */
    opacity: 0; /* Par défaut, l'overlay est transparent */
    transition: opacity 0.3s; /* Transition de l'opacité pour une animation fluide */
}




/* 
.box-anime {
    display: flex;
    flex-wrap: wrap; /* Permettre le passage à la ligne */
    /* justify-content: space-evenly; Pour répartir les éléments sur les lignes */
    /* align-items: center; */
    /* border: 1px solid black; */
    /* padding-bottom: 10px; */
/* } */ 
/* 
.mini-box {
    background-color: blue;
    height: 250px;
    width: 250px;
}

.title {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
} */



/* Styles pour les écrans de téléphone */
@media only screen and (max-width: 768px) {
    .sect-inscription .img{
        display: none;    
    }
  }
  